@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

a {
    color: black;
    text-decoration: none;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #0c1f2d;
    width: 100%;
    border: ridge;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: #0c1f2d;
    font-size: 17px;
    font-weight: 500;
}

.publico {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.secao {
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.secao1 {
    color: #333;
    max-width: 1400px;
    margin: 20px auto 0;
    border-radius: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container img {
    width: 50%;
    height: auto;
}

.secao2 {
    background-color: #4c4e50;
    color: #fff;
    max-width: 1400px;
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

li {
    font-size: 18px;
    text-align: justify;
}

footer {
    background-color: #0c1f2d;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
}

@media (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
        gap: 16px;
    }

    .navigation {
        padding: 16px 32px;
    }

    .container img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .navigation {
        flex-direction: column;
    }

    .navigation ul {
        gap: 8px;
    }

    .secao {
        padding: 10px;
    }

    .secao2 {
        margin: 20px auto; 
    }
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px; /* Ajuste o espaço entre os itens conforme necessário */
    position: relative;
}

.carousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35rem;
    width: 25rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.5);
    transition: transform .2s linear;
    position: relative;
}

.carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__item--main {
    z-index: 2;
    cursor: pointer;
}

.carousel__item--left,
.carousel__item--right {
    transform: scale(.9);
    z-index: 1;
}

.carousel__item--main:hover,
.carousel__item--left:hover,
.carousel__item--right:hover {
    transform: scale(1.2);
    z-index: 3;
}

.carousel__text {
    position: absolute;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity .2s;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    padding: 2rem 1rem;
    color: #fff;
}

.carousel__item:hover .carousel__text {
    opacity: 
}

.carousel__btns {
    position: absolute;
    bottom: -30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2rem;
}

.carousel__btn {
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid #0c1f2d;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__btn svg {
    height: 1.8rem;
    width: 1.8rem;
}

.carousel__btn:hover {
    color: #64dbff;
}
